#contact-form .form-group label {
    display: block;
    margin: 10px 0;
}

#contact-form .form-group .label {
    display: inline-block;
    width: 60px;
}

#contact-form .form-group .form-control {
    padding: 5px;
}

#contact-form .form-group .form-control:focus {
    background-color: lightgoldenrodyellow;
}

#contact-form .form-group .form-control.ng-touched.ng-invalid {
    border-color: red;
}

#contact-form .btn {
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    margin: 10px 60px;
    padding: 5px 20px;
    text-transform: uppercase;
}
